<?xml version="1.0"?>

<configuration>
  <connectionStrings>
	  <add name="ConnectionString" connectionString="data source=DESKTOP-C7DGPBQ\SQLEXPRESS;initial catalog=ISGeneration;Connect Timeout=180; Integrated Security=True; Trusted_Connection = Yes;"/>
	  <add name="GNForm3CConnectionString" connectionString="data source=DESKTOP-C7DGPBQ\SQLEXPRESS;initial catalog=GNForm3C;Connect Timeout=180; Integrated Security=True; Trusted_Connection = Yes;"/>
    <!--<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                           Extended Properties='Excel 8.0;HDR={1}'"/>-->
  </connectionStrings>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages buffer="true" theme="Admin" controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Never" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ew" assembly="eWorld.UI, Assembly=2.0.0.2201" namespace="eWorld.UI"/>
        <add src="~/UserControl/ShowInfo.ascx" tagPrefix="ucMessage" tagName="ShowMessage"/>
        <add src="~/UserControl/ucHelp.ascx" tagPrefix="ucHelp" tagName="ShowHelp"/>
        <add src="~/UserControl/ucFieldHelp.ascx" tagPrefix="ucFieldHelp" tagName="ShowFieldHelp"/>
      </controls>
    </pages>
  </system.web>
</configuration>