
/******************************************************
    PORTLET
******************************************************/
.portlet {
    margin-bottom: 10px !important;
}

.portlet.light {
    border-radius: 3px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(82, 63, 105, 0.15);
}



    .portlet.light > .portlet-title {
        min-height: 35px;
    }

        .portlet.light > .portlet-title > .caption {
            padding: 8px 0 0 0;
        }

            .portlet.light > .portlet-title > .caption > .control-label {
                font-size: 14px;
            }

        .portlet.light > .portlet-title > .tools {
            padding: 0px 0 0 0;
            margin-top: 0px;
        }

            .portlet.light > .portlet-title > .tools > .collapse {
                margin-top: 7px;
            }

    .portlet.light div.portlet.light {
        border-radius: 3px !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
    }
/*******End of PORTLET*******************************/








/******************************************************
    FORM ELEMENTS
******************************************************/
/** For AddEdit Large Form **/
/*.form-control {
    color: #1083e6;
    font-weight: 600;
}

.form-control::placeholder {
  font-weight: normal;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    color: #1083e6;
    font-weight: 600;
}

.select2-default {
  color: #f00 !important;
}

.select2-selection__rendered[title~=Select] {
  color: #555 !important;
  font-weight: normal !important;
}*/
/** End of For AddEdit Large Form **/

.form-control {
    border-color: #ddd;
}

    .form-control:focus {
        border-width: 1px;
        border-color: #777;
    }

.input-group-addon {
    border-color: #ddd;
}

.input-group-btn > .btn.default {
    background-color: #eee;
    color: #666;
}

.select2-container--bootstrap .select2-selection {
    border-color: #ddd;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    border-width: 1px;
    border-color: #777;
}

/*******End of FORM ELEMENTS*******************************/






/******************************************************
    CUSTOM SCROLLBAR
******************************************************/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

    ::-webkit-scrollbar-thumb:hover {
        background: #a9a9a9;
    }

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
/*******End of CUSTOM SCROLLBAR*******************************/





/******************************************************
    TABBAR
******************************************************/
.nav-tabs > li > a {
    margin-right: 5px;
    border-radius: 4px 4px 0 0 !important;
    color: #777;
}

    .nav-tabs > li > a:hover {
        border-color: #ddd;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #337ab7;
    font-weight: 600;
}
/*******End of TABBAR*******************************/

.gn-name
{
    white-space:nowrap;
    color:#5a7391;
    font-weight:600;
    font-size:13px;
}

.gn-value
{
    white-space:nowrap;
    color:#5b9bd1;
    font-weight:600;
    font-size:13px;

}
.gn-colon
{
    padding-left:2px;
    padding-right:2px;
}
 .gn-portlet-title-view {
            margin-left:10px ;
            color:#e35b5a !important;
            font-weight:600  !important;
        }



 /*For Horizontal Menu Layout */
 /*.container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}*/

 /*.page-header .page-header-top .page-logo {
    height: 60px !important;
}

 .page-header .page-header-top {
    height: 70px !important;
}

 .page-header .page-header-menu {
    height: 49px  !important;
}

 .page-header .page-header-menu .hor-menu .navbar-nav>li>a {
    padding: 15px 15px 15px  !important;
}

 .page-header {
    height: 120px  !important;
}

 .page-title {
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
    color: #666 !important;
    font-size: 22px !important;
    font-weight: 600 !important;
}*/
  /*For Horizontal Menu Layout */


  
.gn-view-label-header
        {
            font-size:13px !important;
            color:#5E738B!important;
            font-weight:600 !important;
            text-align:right!important;      
            padding: 0px 0px 0px 0px !important;          
        }

        .gn-view-label-value
        {
            font-size:13px !important;
            color:#5e738b!important;
            text-align:left!important;  
            padding: 0px 0px 0px 9px !important;              
        }